@import url('../global.css');
@import url('../components/nav.css');
@import url('../themes/void.css');
@import url('../animations/landing.css');
@import url('../components/glassmorphism.css');


body {
    background-color: var(--background-main);
    animation: popIn .5s ease-in;
}
.glassmorphism {
    margin: 0rem 1rem 0rem 1rem;
    background-color: var(--background-glass);
    border: 1px solid var(--stroke-glass);
    padding: 3rem 3rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 20px rgba(94, 107, 117, 0.13);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition: .2s;
    h2 {
          font-family: "Changa One", sans-serif;
        color: var(--text-primary);
        font-weight: bolder;
        font-size: var(--font-large);
        z-index: 20;
        position: relative;
    }
    p {
        color: var(--text-secondary);
        font-size: var(--font-small);
    }
}
#theme-btn {
    bottom: 2rem;
    .glassmorphism2 {
        background-color: var(--background-glass);
        border: 1px solid var(--stroke-glass);
        padding: .6rem 1rem;
        border-radius: 1.5rem;
        box-shadow: 0 4px 20px rgba(70, 73, 75, 0.048);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        transition: .2s;
        p {
            color: var(--text-secondary);
            font-size: var(--font-small);
        }
        &:hover {
            background-color: var(--accent-color);
            border: 1px solid var(--accent-color);
            p {
                color: var(--text-tertiary);
            }
        }
    }
    button {
        width: 200px;
        height:  60px;
    }
    
}
.separator {
   width: 100%; 
   height: 1px;
   background-color: var(--stroke-glass);
}
.link-tree {
    .banner {
        width: 100%;
        height: 80px;
        border-radius: .8rem;
        margin-bottom: -5rem;
        object-fit: cover   ;
    }
    .linktree-btn {
        padding: .5rem;
        border-radius: 1rem;
        opacity: .4;
        img {
            object-fit: cover;
            width: 1.2rem;
        }
    }
    .linktree-btn:hover {
        opacity: 1;
        transition: .3s;
    }
    .linktree-btn-2 {
        margin: .2rem;
        padding: .5rem;
        border-radius: 1rem;
        background-color: var(--background-glass);
        border: 1px solid var(--stroke-glass);
        color: var(--text-secondary);
        font-size: var(--font-small);
    }
    .linktree-btn-2:hover {
        background-color: var(--accent-color);
        border: 1px solid var(--accent-color);
        color: var(--text-tertiary);
        transition: .3s;
    }
}
    .mobile-show {
        display: none;
    }
    .pc-hidden {
        display: none;
    }
@media (max-width: 600px) {
    #theme-btn {
        bottom: 1rem;
        button {
            width:200px;
            height:  40px;
        }
    }
    .glassmorphism {
        width: 90%;
        padding: 1rem 1rem;
    }
    .link-tree {
        align-items: center;
        .banner {
            height: 100px;
            width: 300px;
            position: fixed;
            top: 1rem;
        }
        h2 {
            position: relative;
            top: 1rem;
        }
    }
    .pc-hidden {
        display: inline;
    }
    .mobile-hidden {
        display: none;
    }
    .mobile-show{ 
        display: inline;
    }
}